body {
  background-color: #f9f7fe;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.weather-app {
  background-color: white;
  margin: 30px auto;
  max-width: 600px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}
h1 {
  margin: 0;
  font-size: 38px;
}
a {
  color: #885df1;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  padding: 20px;
  width: 80%;
}
.search-form-button {
  background: #885df1;
  border: none;
  border-radius: 6px;
  padding: 20px;
  color: white;
  margin-left: 10px;
  font-size: 15px;
}
.pink {
  color: #f65282;
}
.container {
  display: flex;
  justify-content: space-between;
}
.temperatureBlock {
  display: flex;
  font-size: 38px;
}
.currentTemp {
  font-size: 70px;
  font-style: bold;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
}
.weather-app-icon {
  width: 80%;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
.weather-forecast-date {
  font-size: 16px;
  color: #000;
}
.weather-forecast-icon {
  width: 100%;
}
